-- Fix admin table structure
ALTER TABLE admin DROP COLUMN IF EXISTS password_hash;

-- Sync existing auth users to admin table
INSERT INTO admin (id, email, full_name, created_at)
SELECT 
    id,
    email,
    COALESCE(raw_user_meta_data->>'full_name', email),
    created_at
FROM auth.users
ON CONFLICT (id) DO UPDATE SET
    email = EXCLUDED.email,
    full_name = EXCLUDED.full_name;

-- Verify the fix
SELECT * FROM admin;
